<h2>Today's Menu</h2><br><br>
<ul>
    <li *ngFor="let itm of menuArray">{{ itm.id }} {{ itm.name }} {{ itm.url }} {{ itm.category }} {{ itm.price }} {{ itm.speciality }}</li>
</ul>
<div class="container">
    <h4> South Indian</h4>
    <p>-----</p>
    <ul>
        <li></li>
    </ul>
    <p>-----</p>
</div>
<hr>

<div class="container">
    <h4> Gujarati</h4>
    <p>-----</p>
    <ul>
        <li></li>
    </ul>
    <p>-----</p>
</div>
<hr>

<div class="container">
    <h4> Punjabi</h4>
    <p>-----</p>
    <ul>
        <li></li>
    </ul>
    <p>-----</p>
</div>
<hr>

<div class="container">
    <h4> Mexican</h4>
    <p>-----</p>
    <ul>
        <li></li>
    </ul>
    <p>-----</p>
</div>
<hr>